<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
<<<<<<< HEAD
        <title>{% block title %}Symfony Test App{% endblock %}</title>
=======
        <title>{% block title %}Welcome!{% endblock %}</title>
>>>>>>> 684840ab96271e6e7ac47d3fad80a85ce3dc2ad4
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
